{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        <div>
            {% if object.image3Name %}
                <img src="{{ vich_uploader_asset(object, 'image3File') | imagine_filter('60x60') }}" alt="thumbnail">
            {% else %}
                ---
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}
