{% extends 'base.html.twig' %}

{% block title %}
    New Setting
{% endblock %}

{% block body %}
    <h1>New Setting</h1>
    <a class="btn btn-info" href="{{ path("settings_list") }}">Go to Settings List</a>
{% endblock %}
